/*
 * Global styles
 */

$body-bg: #F8FAFA;
$body-color: #132C33;

$light: #F8FAFA;

/*
 * Navbar styles
 */
$navbar-padding-y: 1.5rem;

$navbar-toggler-padding-y: .25rem;
$navbar-toggler-padding-x: .25rem;
$navbar-toggler-focus-width: 2px;
$navbar-light-toggler-border-color: none;
//$navbar-light-toggler-icon-bg:

$nav-tabs-link-hover-border-color: none;


/*
 * Card styles
 */
//$card-height: 500px;

// Example: override to give us a salmon body background

@import "bootstrap/scss/bootstrap";